/* colors
  #4b3832 medium brown 75,56,50
  #854442 reddish brown 133,68,66
  #fff4e6 light cream 255 244 230
  #3c2f2f dark brown
  #be9b7b tan 190, 155, 123
https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
17. Cappuccino
*/

* {
  box-sizing: border-box;
}

body {
  background: #fff4e6;
  font-family: 'Be Vietnam', sans-serif;
  color: #3c2f2f;
  background: linear-gradient(rgba(255,244,230, .3),rgba(255,244,230, .3)), url( hotel-wallpaper/hotel-wallpaper.png);
  /* background: url( hotel-wallpaper/hotel-wallpaper.png); */

}

.wrapper {
  width: 90%;
  max-width: 380px;
  height: 100%;
  margin: 0 auto;
}

header {
  background: #3c2f2f;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  margin-top: 0;
  height: 115px;
  box-shadow: 0px 3px 3px 4px rgba(31,25,25, .5);
}

header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h2 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  padding: 10px 0px 10px 10px;
  display: inline-block;
}

header #search-div {
  /* margin-left: auto; */
  width: 20%;
  min-width: 250px;
  /* margin-right: 20px; */
  outline: none;
  position: relative;
}

header input {
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 100%;
  color: #854442;  
  outline: none;
}

header input:hover {
  box-shadow: 0 0 3px 3px #be9b7b;
}

header input::placeholder {
  color: #4b3832;
  font-style: italic;
  font-size: .85em;
}

#search-div span {

  color: #854442;
  position: absolute;
  font-size: 1.15rem;
  right: 10px;
  top: 9px;
}



main .directory {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #be9b7b , #fff4e6 40%);
  border-left: 9px solid rgba(60,47,47,1);
  align-items: center;
  transition: all .3s ease-in-out, color .05s ;
  box-shadow: 1px 3px 3px 3px rgba(31,25,25, .5);
}

.card:hover {
  box-shadow: 0px -3px 5px 5px rgba( 75,56,50, .5);
  background: linear-gradient(to top, #fffdfa , #fffdfa 95%);
  border-left: 9px solid #854442;
}

.card .img {
  padding: 5px;
  flex: 1 33%;
}

.card img {
  border-radius: 50%;
  width: 120px;
  display: block;
  margin: auto;
  box-shadow: 1px 1px 3px 2px rgba(31,25,25, .5);
  border: 4px #854442 transparent;
  transition: .1s all ease-out;
}

.card:hover img {
  border: 4px #854442 solid;
}

.card:active {
  background: rgb(75,56,50);
  color: white;
  box-shadow: inset 0px 0px 9px 9px  #1f1919;
}
/*75,56,50*/
.card .info {
  flex: 1 67%;
  text-align: center;
  
}

.card h3,
.card p {
  margin: 8px 0;
  transition: .2s ease-in;
}

.card:hover h3,
.card:hover p {
  /* color: white; */
  /* font-size: 1.2em; */
  text-shadow: 3px 3px 2px rgba(190, 155, 123, .5);
}

/*************
 MODAL STYLES
*************/

.modal-container {
  /* visibility: hidden; */
  width: 100vw;
  height: 100vh;
  background: rgba(100,100,100,.5);
  z-index: 100;
  position: fixed;
  top: 0
}

.modal-content {
  width: 84%;
  height: 500px;
  border-radius: 5px;
  position: fixed;
  top: 10%;
  left: calc(50% - 42%);
  background: white;
}

/**************
 MEDIA QUERIES
**************/

@media screen and (min-width: 600px) {
  .modal-content {
    width: 400px;
    left: calc(50% - 200px)
}
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 840px;
  }

  header {
    height: 65px;
  }

  header .wrapper {
    flex-direction: row;
  }

  header #search-div {
    margin-left: auto;
    margin-right: 20px;
  }

  main .directory {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
  }
  
  
  
  
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 80%;
    max-width: 1000px;
  }

  .card {
    flex-direction: row;
  }
}

@media screen and (min-width: 1360px) {
  .wrapper {
    width: 90%;
    max-width: 1460px;
  }
  main .directory {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    /* grid-row-gap: 40px; */
  }
}